/* -------STYLE HEADER------- */
.logo-gochina{
    width: 100%;
    padding: 4% 5% 6% 6%;
    height: 100%;
}
.image-logo-gochina{
    height: 100%;
}
.custom-icon-header{
    margin-left: 0px !important;
    text-align: right !important;
    padding: 0 4%;
}

.page-content{
	padding-top: 50px;
	box-shadow: none;
    padding-bottom: 0px !important;
}
.content-boxed{
    margin: 15px;
    padding-top: 15px;
}

.upload_photoItin{
    height: 100%;
    width: 100%;
    text-align: center;
    border: 1px dashed #404040;
}
.default-link{
    height: 100px;
    margin-bottom: 0 !important;
    margin:0 2.5px !important;
}
.default-link > img{
    height: 100%;
}

.photo-detail{
    top: 54% !important;
    transform: translateY(-50%) !important;
    position: fixed !important;
    width: 100%;
}